#gamePlace {
    margin-bottom: 50px;
    display: none;
}

.playArea {
    border: 1px solid #949494;
    cursor: pointer;
    background: url("../images/open.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    perspective: 1500px;
}

.playAreaSafe9 {
    height: 23.333vh;
}

.playAreaSafe16 {
    height: 17.5vh;
}

.playAreaSafe25 {
    height: 14vh;
    display: inline-block;
    float: left;
    width: 20%;
}

.safeDoor {
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transform-origin: left;
}

.safeDoor .safeDoorFront {
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.safeDoor .safeDoorBack {
    transform: rotateY(180deg);
    background: #6B6A6A;
    border: solid 2px black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.coin {
    position: absolute;
    height: 80%;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.thief {
    position: absolute;
    height: 92%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
}

.active {
    z-index: 6;
}

#game {
    height: 70vh;
}

@media screen and (max-width: 992px) {
    #menu {
        display: flex;
        flex-direction: column-reverse;
    }

    #result {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #hardLevelNavigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #menuButtons {
        display: flex;
        flex-direction: column-reverse;
    }
}

#result h2 {
    cursor: context-menu;
}

label {
    font-family: inherit;
    font-size: 23px;
    font-weight: 600;
    color: inherit;
    margin: 0 5px;
}

input[type="radio"] + span {
    cursor: pointer;
}

input[type="radio"]:disabled + span {
    cursor: context-menu;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="radio"]:disabled {
    cursor: context-menu;
}

input[type="radio"]:checked + span {
    color: #FF8619;
    cursor: context-menu;
}

#coverRound {
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    height: 68vh;
    width: 94%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverRoundShow {
    border: 2px solid #FF8619;
    border-radius: 20px;
}

#roundText {
    display: none;
    font-size: 9em;
    font-weight: bold;
    text-align: center;
    color: #FF8619;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    cursor: context-menu;
}

.instructionBackground {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#instructionHeader {
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    color: #FF8619;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    cursor: context-menu;
}

.instructionPoint {
    color: white;
    font-size: 3.5vh;
    font-weight: bold;
    margin: 9.5px 0;
    cursor: context-menu;
}

.scoreTablePoint {
    color: white;
    font-size: 3.5vh;
    font-weight: bold;
    margin: 9.5px 0;
    cursor: context-menu;
    text-align: center;
/ / dodane
}

.instructionPointText {
    color: #E5D2BC;
}

.instructionImgMouse {
    width: 11vh;
}

#instructionImgCoin {
    width: 10%;
}

#instructionImgThief {
    width: 11%;
}

#gameEnd {
    display: none;
}

#endGameText {
    color: #FF8619;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);;
    font-size: 9vh;
    font-weight: bold;
    cursor: context-menu;
}

#endGameScoreText {
    color: #E5D2BC;
    font-size: 6.5vh;
    font-weight: bold;
    cursor: context-menu;
}

.gameButtonsMenu {
    margin: 6px 4px;
}

.gameButtons {
    color: white;
    font-weight: bold;
    background-color: #FF8619;
    border: 3px solid #FF8619;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 2vh;
}

.gameButtons:hover {
    color: #36312C;
    border: 3px solid #FF8619;
    font-weight: bold;
    background-color: #FF8619;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.gameButtons[disabled] {
    color: #36312C;
    border: 3px solid #FF8619;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    cursor: context-menu;
}

.gameButtons[disabled]:hover {
    color: #36312C;
    border: 3px solid #FF8619;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.gameButtons:focus:active:visited {
    color: #36312C;
    border: 3px solid #FF8619;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#gameEndCloseButton {
    margin-bottom: 10px;
}

#scores {
    text-align: left;
    display: none;
}

#scoreTableHeader {
    color: #FF8619;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);;
    font-size: 9vh;
    font-weight: bold;
    cursor: context-menu;
    text-align: center;
    margin-top: 1vh;
}

.scoreTableBackground {
    display: flex;
    justify-content: center;
    background-color: #1b6d85;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.scoreTablePoint li {
    float: none;
    font-size: xx-large;
    display: flex;
    color: #E5D2BC;
}
