@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8813801');
  src: url('../font/fontello.eot?8813801#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?8813801') format('woff2'),
       url('../font/fontello.woff?8813801') format('woff'),
       url('../font/fontello.ttf?8813801') format('truetype'),
       url('../font/fontello.svg?8813801#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8813801#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-money-1:before { content: '\e801'; } /* '' */
.icon-chart-line:before { content: '\e802'; } /* '' */
.icon-chart-area:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-chart-bar-1:before { content: '\e805'; } /* '' */
.icon-chart-bar-outline:before { content: '\e806'; } /* '' */
.icon-doc:before { content: '\e807'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-industrial-building:before { content: '\e822'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-chart-line-1:before { content: '\f201'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */