
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-money-1:before { content: '\e801'; } /* '' */
.icon-chart-line:before { content: '\e802'; } /* '' */
.icon-chart-area:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-chart-bar-1:before { content: '\e805'; } /* '' */
.icon-chart-bar-outline:before { content: '\e806'; } /* '' */
.icon-doc:before { content: '\e807'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-industrial-building:before { content: '\e822'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-chart-line-1:before { content: '\f201'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */